@{
    ViewBag.Title = "Home Page";
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Calendario de Vacinação</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Saiba Mais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Account/Register">Cadastre-Se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Account/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Intro Header -->
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3 class="brand-heading">Calendario de Vacinação</h3>
                    <p class="intro-text">
                        Neste Site você poderar ter maiores informaçoes sobre as datas de vacinação do seu pequeno(a)!
                        <br>Cadastre seu e-mail e receba notificações.
                    </p>
                    <a href="#about" class="btn btn-circle js-scroll-trigger">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Campanhas De Vacinação</h2>
                <p>
                    O Ministério da Saúde promove duas campanhas anuais de vacinação, junto com Secretarias de Saúde de estados (<a href="http://portalms.saude.gov.br/acoes-e-programas">veja o site</a>), municípios e Distrito Federal.
                    São as campanhas da gripe, realizada no primeiro semestre, antecedendo o período mais frio do ano, e de atualização da Caderneta de Vacinação. Além disso, a cada quatro anos, todas as crianças menores de cinco são também alvo da campanha de vacinação contra sarampo.
                </p>
                <p>
                <p>Campanha Nacional de Vacinação contra Influenza (Gripe).</p>
                <p>Campanha de Multivacinação para a Atualização da Caderneta de Vacinação.</p>
                <p>Campanha de Seguimento contra Sarampo.</p>

                <p>O Ministério da Saúde realiza vacinação também para a população indígena.</p>
                <p><a href="http://portalarquivos.saude.gov.br/images/pdf/2017/janeiro/23/calendario-nacional%20-vacinacao-povos-indigenas-2017.pdf">Veja Calendário Nacional de Vacinação Indígena.</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="download" class="download-section content-section text-center">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h2>Cadastre seu Email e Receba Notificações</h2>
            <p>O nosso calendario de vacinação tem como misao manter vc pai e mãe ficarem ligados nas datas e a proximas doses que seu filho deve tomar na campanha de vacianção do Ministerio da saude.</p>
            <a href="~/Crianças/Index/" class="btn btn-default btn-lg">Faça seu login</a>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Calendario de Vacinação</h2>
                <p>
                    Vacinar é preciso!
                    <a href="http://portalms.saude.gov.br/acoes-e-programas/vacinacao/sobre-o-programa">Ministerio da Saúde.</a>

                </p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/minsaude/" class="btn btn-default btn-lg">
                            <i class="fa fa-facebook fa-fw"></i>
                            <span class="network-name">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                            <i class="fa fa-google-plus fa-fw"></i>
                            <span class="network-name">Google+</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
